.App {
  display: grid;
  grid-template-rows:75% 25%;
  grid-template-columns:66% 34%;
}

#pdf {
  background: #333;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

#video {
  background: #666;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

#chapters {
  background: #999;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

#pdf canvas {
  width: 100%
}

#pdf {
  position: relative;
}

#pdf > canvas {
  position: absolute;
  top: 0;
  left: 0;
}